<ion-view view-title="Imprint">
  <ion-content class="coolcologne">
 	<h1 class="title">WUTZ</h1>

 	<div class="list">

	  <div class="item item-divider">
	    Team
	  </div>

	  <div class="item" href="#">
	    Carlos Niermeier<br />
	    Jannik Bussmann<br />
	    Sebastian Galetzka
	  </div>
	  

	  <div class="item item-divider">
	    Semester project
	  </div>

	  <div class="item" href="#">
	    Wintersemester 2015/2016<br />
	    Studies: Media &amp; Interaction Design<br />
	    Modul: Webtechniken 2<br />
	    Dozent: Dipl. Medieninformatiker Björn Plutka
	  </div>

	  <div class="item item-divider">
	    Contact
	  </div>

	  <div class="item" href="#">
	    Osnabrück University of Applied Sciences<br />
	    Albrechtstraße 30<br />
	    49076 Osnabrück<br />
	  </div>

	  <div class="item item-divider">
	    Copyright
	  </div>

	  <div class="item-nowrap" href="#">
	    <p>All rights reserved for texts, pictures, animations, audio files and any other published information provided that it is not indicated otherwise.<br><br>Reproduction, processing, duplication, distribution as well as the storage as a whole or in parts on data processing systems require the publisher's approval by letter.</p>
	  </div>


	</div>	
  </ion-content>
</ion-view>
