<ion-view view-title="Start">
  <ion-content>
    <img class="avatar" src="img/char.svg" />
    <a class=""><img class="attention tada animated" src="img/attention.png" /></a>
    <a href="#/app/intro" class="muscles_urge arms bounceIn animated"><img src="img/muscles_arms.svg" /></a>
    <!--a href="#/app/intro" class="muscles_urge torso bounceIn animated"><img src="img/muscles_torso.svg" /></a-->
    <!--a href="#/app/intro" class="muscles_urge legs bounceIn animated"><img src="img/muscles_legs.svg" /></a-->
  </ion-content>
</ion-view>
